version: "3.8"

services:
  backend:
    image: harbor.mpmg.mp.br/mpmg-homo/save-backend:1.0.1
    ports:
      - "8091:8080"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=5432
      - UPLOAD_DIR=/app/uploads # Define onde a aplicação salva internamente

    volumes:
      - save_uploads:/app/uploads # Mapeia o volume persistente para a pasta interna

    deploy:
      replicas: 1

      update_config:
        parallelism: 1
        delay: 10s
        monitor: 15s
        failure_action: rollback
        order: start-first

      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: pause
        monitor: 15s

      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

      placement:
        constraints:
          - node.role == worker
        preferences:
          - spread: node.id

    networks:
      - save-network

  frontend:
    image: harbor.mpmg.mp.br/mpmg-homo/save-frontend:1.0.2
    ports:
      - "8092:80"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    deploy:
      replicas: 1

      update_config:
        parallelism: 1
        delay: 10s
        monitor: 15s
        failure_action: rollback
        order: start-first

      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: pause
        monitor: 15s

      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

      placement:
        constraints:
          - node.role == worker
        preferences:
          - spread: node.id

    networks:
      - save-network

networks:
  save-network:
    driver: overlay

volumes:
  save_uploads:
    # Cria o volume gerenciado pelo Docker
    driver: local
